@import "../../index";

.calculator {
  background-color: $calc-bg-color;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5);
  .calculator--results {
    input {
      border: none;
      outline: none;
    }
    .expression {
      color: gray;
      font-size: .6em;
    }  
    .result {
      font-size: 2em;
      color: $theme-color ;
      font-weight: 600;
      white-space: break-spaces;
      word-break: break-word;
      line-height: 100%;
    }
  }

  .calculator--display {
    width: calc(100% - 2px);
    margin: 15px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.5em;
    border-bottom: 2px solid #e7e7e7;
    padding-bottom: 15px;
    .cursor-position {
      animation: 1s infinite blink;
    }
  }
  .calculator--btn {
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
    justify-content: center;
    margin: 1% 0;
    transition: 0.2s linear;
    outline: none;
    &:hover {
      box-shadow: none;
    }
    &.nav {
      background-color: transparent;
    }
    &.zero {
      border-radius: 30px;
      justify-content: flex-start;
      padding: 0 17px;
      width: 45%;
    }
    &.func {
      background-color: $calc-func-btn-bg;
      color: #fff;
      font-size: 1em;
    }
    &.operator, &.equal {
      background-color: $calc-option-btn-bg;
      color: $calc-option-btn-col;
    }
    &:disabled {
      opacity: .7;
  }
  
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
